.containerrr{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.rowspi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.cold{
    display: flex;
    flex-direction: column;
    width: 532px;
    height: 370px;
}
.imgBus{
    width: 532px;
    height: 370px;
}
.containerrr >h1{
    text-transform: uppercase;
    color: #00613d;
    font-size: 28px;
    line-height: 33px;
}
.containerrr h6{
    font-size: 16px;
    line-height: 21px;
    color: #4a4a4a;
    margin-top: 8px;
}