.chat-box-form {
    width: 100%;
    max-width: 300px;
    height: auto;
    background-color: #fff;
    border-color: #FB6400;
    border: 4px solid orange;
    padding: 15px;
}

.backgroungtitle {
    background-color: #FB6400;
    width: 100%;
    box-sizing: border-box;
}

.MuiRadio-root {
    transform: scale(0.9);
}

.title {

    color: #fff;
}