.col271661{
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    box-shadow:  0 0 0 1px rgba(0, 0, 0, .05), inset 0 0 0 1px #d1d5db;;
    width: 100%;
}
.col3211217{
    display: flex;
    flex-direction: column;
}
.row321111122{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}
.row212881{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}
.lciksk{
    cursor: pointer;
}
.lciksk :hover {
    color: red;
}
.col2918277{
    display: flex;
    flex-direction: column;
}
.active2{
    color: red;
    border-bottom: 2px solid red;
}
.row211812717{
    display: flex;
    flex-direction: row;
    gap:2rem
}
.col312322121{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.row31223215827{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px outset gray;
    padding: 1rem;
}
.col1292137172{
    display: flex;
    flex-direction: column;
}
.row21812881320{
    display: flex;
    flex-direction: row;
    gap:2px
}
.row271217171{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}